<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TorneoServlet</servlet-name>
        <servlet-class>controlador.TorneoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PisServlet</servlet-name>
        <servlet-class>controlador.PisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadServlet</servlet-name>
        <servlet-class>controlador.CiudadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartidoServlet</servlet-name>
        <servlet-class>controlador.PartidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaseServlet</servlet-name>
        <servlet-class>dao.FaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalpartidosServlet</servlet-name>
        <servlet-class>controlador.TotalpartidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModalidadServlet</servlet-name>
        <servlet-class>controlador.ModalidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArbitroServlet</servlet-name>
        <servlet-class>controlador.ArbitroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TorneoServlet</servlet-name>
        <url-pattern>/torneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PisServlet</servlet-name>
        <url-pattern>/pais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadServlet</servlet-name>
        <url-pattern>/ciudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartidoServlet</servlet-name>
        <url-pattern>/PartidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaseServlet</servlet-name>
        <url-pattern>/FaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalpartidosServlet</servlet-name>
        <url-pattern>/total</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModalidadServlet</servlet-name>
        <url-pattern>/ModalidadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArbitroServlet</servlet-name>
        <url-pattern>/arbitro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
